<ul class="navbar-nav ms-auto root_links">
  <% actions(:root).select(&:show_in_navigation).each do |action| %>
    <%# Build html_options for this link %>
    <% html_opts = { class: 'nav-link' } %>
    <% html_opts[:data] = { turbo: 'false' } unless action.turbo? %>

    <li class="nav-item <%= action.action_name %>_root_link">
      <%= link_to wording_for(:menu, action),
                  { action: action.action_name, controller: 'rails_admin/main' },
                  html_opts %>
    </li>
  <% end %>

  <% if (main_app_root = (main_app.root_path rescue nil)) %>
    <li class="nav-item">
      <%= link_to t('admin.home.name'),
                  main_app_root,
                  class: 'nav-link' %>
    </li>
  <% end %>

  <% if _current_user %>
    <% if (user_edit = edit_user_link) %>
      <li class="nav-item edit_user_root_link">
        <span class="nav-link d-flex align-items-center">
          <%= image_tag _current_user.avatar_url,
                        alt: _current_user.email,
                        class: "rounded-circle me-1",
                        width: 30, height: 30 %>
          <span><%= _current_user.email %></span>
        </span>
      </li>
    <% end %>

    <%# Sign-out link %>
    <li class="nav-item logout_root_link">
      <%= link_to main_app.sign_out_path,
                  method: :delete,
                  class: 'nav-link',
                  data: { turbo_confirm: t('admin.misc.are_you_sure') } do %>
        <span class="badge bg-danger"><%= t('admin.misc.log_out') %></span>
      <% end %>
    </li>
  <% end %>
</ul>
