<div id="<%= dom_id slide %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= slide.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Link:</strong>
    <%= slide.link %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Display seconds:</strong>
    <%= slide.display_seconds %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Start date:</strong>
    <%= slide.start_date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">End date:</strong>
    <%= slide.end_date %>
  </div>
</div>
